{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}

{% block body_block %}


        <div class="row">
        
        
            <div class="col-4 mx-auto">
            
            
            <div class="card">
            

            <div class="card-body">
            
            
                <h3>Login</h3>
                <hr>

                <form action="" method="post">
                
                {% csrf_token %}

                {{form|crispy}}

                <input type="submit" value="Login" class ="btn btn-primary btn-block">
                
                
                
                </form>

            
            </div>
            
            </div>
            
            </div>

        
        </div>



{% endblock body_block %}