{% extends 'posts/base.html' %}



{% block body_block %}

{% for post in posts %}

<div class="card">



    <div class="card-body">

        <h3 class="card-title mb-3">{{post.title}}

            {% if user.username == post.author.username %}

            <div class="float-right"><a href="{% url 'blog:delete' pk=post.pk %}"><i class="far text-danger fa-trash-alt"></i></a></div>

            {% endif %}

            </h1>

            <h5 class="card-subtitle text-muted">Posted by : {{post.author.username}}<br>Posted on : {{post.postedDate}}
                </h1>


                <a class="btn btn-primary text-white float-right" href = "{% url 'blog:post' pk=post.pk  %}">Read More</a>
    </div>
</div>
{% endfor %}

{% endblock body_block %}